body {
    background-color: rgb(16, 0, 18);
    transition: background-color 0.5s ease
}

.header-img img{
    border: 3px solid white;
    border-radius: 100%;
    margin-bottom: 1em;
    transition: border-color 0.5s ease;
}

.tit-perfil {
    font-family: "Arima", serif;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 94, 255);
    transition: color 0.5s ease;
}

#gifLinea {
    width: 100%;
    height: 0.2em;
    margin-bottom: 1.5em;
}

.titulo {
    margin-top: 0.7em;
    font-family: "Arima", serif;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 94, 255);
    transition: color 0.5s ease;
}

.description {
    margin-top: 2em;
    color: white;
    text-align: justify;
    transition: color 0.5s ease;
}

.fila {
    margin-top: 2em;
}

.fila p {
    font-family: "Arima", serif;
    font-size: larger;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 94, 255);
    margin-bottom: 1em;
    transition: color 0.5s ease;
}

.fila a {
    background-color: #072083;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.fila a:hover {
    background-color: #1038d6;
    box-shadow: 0 0 15px rgb(0, 94, 255);
}

.fila li::marker {
    color: rgb(255, 255, 255);
}

.tecnologias {
    margin-top: 3em;
    margin-bottom: 0.8em;
}

.iconos-tecnologias img{
    margin: 0.3em;
}

.contacto {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.iconos-contacto-cuadrado{
    margin: 0.3em;
    border-radius: 1em;
}

.iconos-contacto-cuadrado{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0.3em;
}

.iconos-contacto-cuadrado:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.434);
}

.iconos-contacto-redondo{
    margin: 0.3em;
    border-radius: 100%;
}

.iconos-contacto-redondo{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0.3em;
}

.iconos-contacto-redondo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.434);
}

.banner-img {
    border-radius: 2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.434);
}

.btn-responsive {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
    width: 5em;
    background-color: transparent;
    border: none;
}

.btn-responsive:focus {
    box-shadow: none;
}

.btn-responsive img {
    border: 2px solid white;
    border-radius: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-responsive img:hover {
    transform: scale(1.3);
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.434);
}

/* Pantalla pequeña y mediana */
@media (max-width: 992px) {
    .octocat {
        text-align: center;
    }

    .octocat img {
        width: 25%;
    }
}

/* Pantalla pequeña */
@media (max-width: 576px) {
    .btn-responsive {
        top: 0.5em;
        right: 0.5em;
        width: 3.5em;
    }

    .btn-responsive img:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .banner-img {
        border-radius: 1em;
    }

    .banner-img:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .titulo {
        font-size: 1.3em;
    }

    .iconos-contacto-cuadrado {
        width: 8%;
        border-radius: 0.5em;
    }

    .iconos-contacto-cuadrado:hover {
        transform: scale(1);
        box-shadow: none;
    }
    
    .iconos-contacto-redondo {
        width: 8%;
    }

    .iconos-contacto-redondo:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .iconos-tecnologias img {
        width: 8%;
    }

    .description {
        margin-right: 2em;
    }

    .fila {
        margin-left: 0;
    }

    .fila p {
        font-size: 1.1em;
    }
    
    .octocat {
        text-align: center;
    }

    .octocat img{
        width: 30%;
    }
}

/* Pantalla mediana */
@media (min-width: 576px) and (max-width: 992px) {
    .btn-responsive {
        top: 1em;
        right: 1em;
        width: 4.25em;
    }

    .btn-responsive img:hover {
        box-shadow: none;
    }

    .banner-img {
        border-radius: 1.5em;
    }

    .banner-img:hover {
        box-shadow: none;
    }

    .iconos-contacto-cuadrado {
        border-radius: 0.5em;
    }

    .iconos-contacto-cuadrado:hover {
        box-shadow: none;
    }

    .iconos-contacto-redondo:hover {
        box-shadow: none;
    }
}

/* Pantalla grande */
@media (min-width: 992px) {
    .btn-responsive {
        top: 1.5em;
        right: 1.5em;
        width: 5em;
    }

    .banner-img {
        border-radius: 2em;
    }
}