body {
    background-color: rgb(16, 0, 18);
}

.header-img img{
    border: 3px solid white;
    border-radius: 100%;
    margin-bottom: 1em;
}

.tit-perfil {
    font-family: "Arima", serif;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 94, 255);
}

#gifLinea {
    width: 100%;
    height: 0.2em;
    margin-bottom: 1.5em;
}

#titulo {
    margin-top: 0.7em;
    font-family: "Arima", serif;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 94, 255);
}

.description {
    margin-top: 2em;
    color: white;
    text-align: justify;
}

.fila {
    margin-top: 2em;
}

.fila p {
    font-family: "Arima", serif;
    font-size: larger;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 94, 255);
    margin-bottom: 0.5em;
}

.fila a {
    background-color: #072083;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.fila a:hover {
    background-color: #1038d6;
}

.fila li::marker {
    color: rgb(255, 255, 255);
}

.tecnologias {
    margin-top: 3em;
    margin-bottom: 0.8em;
}

.iconos-tecnologias img{
    margin: 0.3em;
}

.contacto {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.iconos-contacto img{
    margin: 0.3em;
    border-radius: 1em;
}

.iconos-contacto a img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0.3em;
}

.iconos-contacto a img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.434);
}

.banner-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.434);
}

@media (max-width: 992px) {
    .octocat {
        text-align: center;
    }

    .octocat img {
        width: 25%;
    }
}

@media (max-width: 500px) {
    #titulo {
        font-size: 1.3em;
    }

    .iconos-contacto a img {
        width: 8%;
    }

    .iconos-tecnologias img {
        width: 8%;
    }

    .description {
        margin-right: 2em;
    }

    .fila {
        margin-left: 0;
    }

    .fila p {
        font-size: 1.1em;
    }
    
    .octocat {
        text-align: center;
    }

    .octocat img{
        width: 30%;
    }
}